#main{
    border: 3px solid #000;
    background-color: beige;
    font-family: 'Poppins', sans-serif;
  } 
  
  h1{
    text-align:center;
    background-color:gray;
    font-size:44px;
    margin-top: 0px;
  }
  .container{
    text-align:center;
  }
  #image{
    width: 100%;
  }
  #img-caption
  {
    text-align:center;
  }
  ul{
    list-style-type: none;
    text-align: start;
    margin-left:20px;
    
  }
  
  ul li{
    margin: 10px;
  }
  
  span{
    font-weight: bold;
  }
  h2{
    margin-left:70px;
  }